body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgb(243, 241, 237);
}

.featured {
  border: 2px solid black;
  margin: 1em 0;
  padding: 0.5em;
  background: white;
  border-radius: 6px;
}

.featured a {
  text-decoration: none;
  color: black;
  display: block;
}

.featured:hover {
  background: #f8f8f8;
}