{% extends "layout.html" %}

{% block title %}Tilin poisto{% endblock %}

{% block content %}
  <section class="medium center">
    <h3>Haluatko varmasti poistaa tilin {{ user.username }}?</h3>

    <form class="form-stack" action="/delete_account" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

      <div class="narrow">
        <button type="submit" name="delete" style="background:#c62828;">POISTA</button>
        <button type="submit" name="cancel">Peruuta</button>
      </div>
    </form>
  </section>

{% endblock %}