{% extends "layout.html" %}

{% block title %}Tilin poisto{% endblock %}

{% block content %}
  <section class="hero medium">
    <h3><strong>Haluatko varmasti poistaa tämän tilin?</strong></h3>

    <div class="grid grid-narrow">
      <div class="card card--link">
        <a href="/user/{{ user.id }}">
          <h3><strong>{{ user.username }}<br /></strong></h3>
          <h4 class="stars">{{ "★" * user.rating }}{{ "☆" * (5 - user.rating) }}</h4>
          <p><strong>Puhelinnumero: {{ user.phone }}</strong></p>
          <p><strong>Sähköposti: {{ user.email }}</strong></p>
        </a>
      </div>

      <form action="/delete_account" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <div class="button-row">
          <button type="submit" name="cancel">Takaisin</button>
          <button type="submit" name="delete" style="background:#bc1c1c;">Poista</button>
        </div>
      </form>
    </div>
  </section>

{% endblock %}