{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
  <h2>Ilmoituksen muokkaus</h2>

  <form action="/edit_listing/{{ listing.id }}" method="post">
    <p>
      Asuntotyyppi: <br />
      <select name="property_type_id" required>
        <option value="">Valitse</option>
        {% for property_type in property_types %}
          <option value="{{ property_type.id }}"
          {% if property_type.id == listing.property_type_id %}selected{% endif %}>{{ property_type.value }}
          </option>
        {% endfor %}
      </select>
    </p>
    <p>
      Huonemäärä: <br />
      <select name="rooms_id" required>
        <option value="">Valitse</option>
        {% for room in rooms %}
          <option value="{{ room.id }}"
          {% if room.id == listing.rooms_id %}selected{% endif %}>{{ room.value }}
          </option>
        {% endfor %}
      </select>
    </p>
    <p>
      Neliömäärä:<br />
      <input type="text" name="size" maxlength="10" pattern="^[1-9][0-9]{0,3}(,5)?$"
            value="{{ listing.size|float|int if listing.size|float == listing.size|float|int else listing.size|string|replace('.', ',') }}"
            required> m²
    </p>
    <p>
      Vuokrahinta:<br />
      <input type="text" name="rent" maxlength="10" pattern="^[1-9][0-9]{0,4}$" value="{{ listing.rent }}" required> €
    </p>
    <p>
      Paikkakunta: <br />
      <select name="municipality_id" required>
        <option value="">Valitse</option>
        {% for municipality in municipalities %}
          <option value="{{ municipality.id }}"
          {% if municipality.id == listing.municipality_id %}selected{% endif %}>{{ municipality.value }}
        </option>
        {% endfor %}
      </select>
    </p>
    <p>
      Katuosoite:<br />
      <input type="text" name="address" maxlength="50" value="{{ listing.address }}" required>
    </p>
    <p>
      Postinumero:<br />
      <input type="text" name="postcode" maxlength="5" pattern="^[0-9]{5}$" value="{{ listing.postcode }}" required>
    </p>
    <p>
      Kerros/kerroksia:<br />
      <input type="text" name="floor" maxlength="2" pattern="^(-1|[0-9]{1,2})$" value="{{ listing.floor }}"> /
      <input type="text" name="floors" maxlength="2" pattern="^[1-9][0-9]?$" value="{{ listing.floors }}" required>
    </p>
    <p>
      Kunto: <br />
      <select name="condition_id" required>
        <option value="">Valitse</option>
          {% for condition in conditions %}
        <option value="{{ condition.id }}"
          {% if condition.id == listing.condition_id %}selected{% endif %}>
          {{ condition.value }}
        </option>
      {% endfor %}
      </select>
    </p>
    <p>
      Sauna:
      <input type="checkbox" name="sauna" {% if listing.sauna %}checked{% endif %}><br />
      Parveke:
      <input type="checkbox" name="balcony" {% if listing.balcony %}checked{% endif %}>
    </p>
    <p>
      Kuvaus:<br/>
      <textarea name="description" rows="10" cols="50" maxlength="2000" required>{{ listing.description }}</textarea>
    </p>

    <h3>Taloyhtiön tiedot</h3>

    <p>
      Sauna:
      <input type="checkbox" name="bath" {% if listing.bath %}checked{% endif %}><br />
      Hissi:
      <input type="checkbox" name="elevator" {% if listing.elevator %}checked{% endif %}><br />
      Pyykkitupa:
      <input type="checkbox" name="laundry" {% if listing.laundry %}checked{% endif %}><br />
      Häkkikellari:
      <input type="checkbox" name="cellar" {% if listing.cellar %}checked{% endif %}><br />
      Uima-allas:
      <input type="checkbox" name="pool" {% if listing.pool %}checked{% endif %}>
    </p>

    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name="edit" value="Päivitä ilmoitusta">

  </form>

  <p>
  <a href="/listing/{{listing.id }}">Takaisin</a>
  </p>
{% endblock %}