{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
<section class="wide">
  <div class="hero">
    <h2>Ilmoituksen muokkaus</h2>
    <h4 class="right required"> Pakollinen kenttä</h4>
  </div>

  <form class="card medium form-stack" action="/edit_listing/{{ listing.id }}" method="post">
    <h4>Perustiedot</h4>

    <div class="grid grid-large">
      <label class="required">
        Asuntotyyppi
        <select name="property_type_id" required>
          <option value="">Valitse</option>
          {% for property_type in property_types %}
            <option value="{{ property_type.id }}"
            {% if property_type.id == listing.property_type_id %}selected{% endif %}>
              {{ property_type.value }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="required">
        Paikkakunta
        <select name="municipality_id" required>
          <option value="">Valitse</option>
          {% for municipality in municipalities %}
            <option value="{{ municipality.id }}"
            {% if municipality.id == listing.municipality_id %}selected{% endif %}>
              {{ municipality.value }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="required">
        Huonemäärä
        <select name="rooms_id" required>
          <option value="">Valitse</option>
          {% for room in rooms %}
            <option value="{{ room.id }}"
            {% if room.id == listing.rooms_id %}selected{% endif %}>
              {{ room.value }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="required">
        Kunto
        <select name="condition_id" required>
          <option value="">Valitse</option>
          {% for condition in conditions %}
            <option value="{{ condition.id }}"
            {% if condition.id == listing.condition_id %}selected{% endif %}>
              {{ condition.value }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="required">
        Neliömäärä
       <input type="text" name="size" value="{{ listing.size|replace('.', ',') }}" maxlength="10" pattern="^[1-9][0-9]{0,3}([.,]5)?$" required>
      </label>

      <label class="required">
        Vuokrahinta
        <input type="text" name="rent" value="{{ listing.rent }}" maxlength="10" pattern="^[1-9][0-9]{0,4}$" required>
      </label>

      <label class="required">
        Katuosoite
        <input type="text" name="address" value="{{ listing.address }}" maxlength="50" required>
      </label>

      <label class="required">
        Postinumero
        <input type="text" name="postcode" value="{{ listing.postcode }}" maxlength="5" pattern="^[0-9]{5}$" required>
      </label>

      {% if listing.property_type == "Kerrostalo" %}
        <label>
          Kerros
          <input type="text" name="floor" value="{{ listing.floor or '' }}" pattern="^(-1|[0-9]{1,2})$">
        </label>
      {% endif %}

      <label class="required">
        Kerroksia
        <input type="text" name="floors" value="{{ listing.floors }}" pattern="^[1-9][0-9]?$" required>
      </label>

    </div>

    <label class="required">
      Kuvaus
      <textarea name="description" rows="6" maxlength="2000" required>{{ listing.description }}</textarea>
    </label>

    <div class="grid grid-small">
      <label><input type="checkbox" name="sauna" {% if listing.sauna %}checked{% endif %}> Sauna</label>
      {% if listing.property_type == "Omakotitalo" %}
        <label><input type="checkbox" name="pool" {% if listing.pool %}checked{% endif %}> Uima-allas</label>
      {% endif %}
      <label><input type="checkbox" name="balcony" {% if listing.balcony %}checked{% endif %}> Parveke</label>
      <label><input type="checkbox" name="dishwasher" {% if listing.dishwasher %}checked{% endif %}> Tiskikone</label>
      <label><input type="checkbox" name="washing_machine" {% if listing.washing_machine %}checked{% endif %}> Pyykinpesukone</label>
    </div>

    {% if listing.property_type == "Kerrostalo" %}
      <h4>Taloyhtiön tiedot</h4>

        <div class="grid grid-large">
          <label><input type="checkbox" name="bath" {% if listing.bath %}checked{% endif %}> Sauna</label>
          <label><input type="checkbox" name="elevator" {% if listing.elevator %}checked{% endif %}> Hissi</label>
          <label><input type="checkbox" name="laundry" {% if listing.laundry %}checked{% endif %}> Pyykkitupa</label>
          <label><input type="checkbox" name="cellar" {% if listing.cellar %}checked{% endif %}> Häkkikellari</label>
          <label><input type="checkbox" name="pool" {% if listing.pool %}checked{% endif %}> Uima-allas</label>
          <label><input type="checkbox" name="gym" {% if listing.gym %}checked{% endif %}> Kuntosali</label>
        </div>
    {% endif %}

    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <div class="button-row medium">
      <button type="submit" name="cancel">Takaisin</button>
      <button type="submit" name="update">Päivitä</button>
    </div>
  </form>

</section>

{% endblock %}