{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}

<section class="hero">
  <h2>Löydä uusi kotisi tästä</h2>

  <p>Luotettava tapa vuokrata asunto.</p>

  <form action="/search_listings" method="get">
    <button type="submit">Etsi vuokrakohteita</button>
  </form>
</section>

<section class="wide">
  <h3>Uusimmat vuokrakohteet</h3>

  {% if listings %}
    <div class="grid grid-large">
      {% for listing in listings %}
        <div class="listing-card">
          <a href="/listing/{{ listing.id }}">
            <h4>{{ listing.municipality }} {{ listing.rooms }} h</h4>
            <p>{{ listing.size | format_size }} m²</p>
            <p class="price">{{ listing.rent }} €</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Ei ilmoituksia.</p>
  {% endif %}
</section>

{% endblock %}