<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1><a href="/">RENTER</a></h1>

  {% for message in get_flashed_messages() %}
    <p style="color:green">{{ message }}</p>
  {% endfor %}

  {% if session.username %}
    <p>
      Olet kirjautunut nimellä: <a href="/user/{{ session.user_id }}">{{ session.username }}</a> Luokitus & id: {{ session.rating }}, {{ session.user_id}}
    </p>
    <p>
      <a href="/new_listing">Uusi ilmoitus</a>
      <a href="/user/{{ session.user_id }}">Omat sivut</a>
    </p>
  {% endif %}

  <p>
    {% if not session.username %}
      <a href="/login">Kirjaudu sisään</a>
      <a href="/register">Luo tunnus</a>
    {% endif %}
  </p>

  <h2>Vuokrattavat kohteet</h2>

  <p>
    <a href="/search_listings"> Etsi vuokrakohteita</a>
  </p>

  <ul>
    {% for listing in listings %}
      <li>
        <a href="/listing/{{ listing.id }}">{{ listing.municipality }} {{ listing.rooms }} h
          {{ listing.size|float|int if listing.size|float == listing.size|float|int else listing.size|string|replace(".", ",") }} m²
          {{ listing.rent }} €</a></li>
    {% endfor %}
  </ul>

  {% if session.username %}
    <form action="/logout" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <button type="submit">Kirjaudu ulos</button>
    </form>
  {% endif %}

</body>

</html>