<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <div class="layout">

    <div class="header">
      <h1><a href="/">RENTER</a></h1>

      <div class="login-info">
        {% if session.username %}
          <form action="/logout" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit">Kirjaudu ulos</button>
          </form>
        {% else %}
          <form action="/login" method="get">
            <button type="submit">Kirjaudu sisään</button>
          </form>
        {% endif %}
      </div>
    </div>

    <nav>
      <ul>
        <li class="{% if request.endpoint == 'index' %}active{% endif %}">
          <a href="/">Etusivu</a>
        </li>
        <li class="{% if request.endpoint == 'search_listings' %}active{% endif %}">
          <a href="/search_listings">Etsi vuokrakohteita</a>
        </li>

        {% if session.username %}
          <li class="{% if request.endpoint == 'new_listing' %}active{% endif %}">
            <a href="/new_listing">Uusi ilmoitus</a>
          </li>
          <li class="{% if request.endpoint == 'user' and user is defined and session.user_id == user.id %}active{% endif %}">
            <a href="/user/{{ session.user_id }}">Omat sivut</a>
          </li>
        {% else %}
          <li class="{% if request.endpoint == 'register' %}active{% endif %}">
            <a href="/register">Luo tunnus</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    {% for message in get_flashed_messages() %}
      <section class="wide">
        <div class="listing-card center">
          <p><strong>{{ message }}</strong></p>
        </div>
      </section>
    {% endfor %}

    <main>
      {% block content %}{% endblock %}
    </main>

  </div>

</body>
</html>