{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<section class="narrow">
  <h2>Kirjautuminen</h2>

  <form class="form-stack" action="/login" method="post">

    <label>
      Tunnus
      <input type="text" name="username" value="{{ username }}" maxlength="15" required>
    </label>

    <label>
      Salasana
      <input type="password" name="password" required>
    </label>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <div class="center">
      <button type="submit">Kirjaudu</button>
    </div>

  </form>

</section>

{% endblock %}