{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block guest_links %}
  <p>
    <a href="/register">Luo tunnus</a>
    <a href="/search_listings">Etsi vuokrakohteita</a>
  </p>
{% endblock %}

{% block content %}
  <h2>Kirjautuminen</h2>

  <form action="/login" method="post">
    <p>
      Tunnus:<br>
      <input type="text" name="username" value="{{ username }}" maxlength="15" required>
    </p>

    <p>
      Salasana:<br>
      <input type="password" name="password" required>
    </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Kirjaudu">
  </form>
  <p>
    <a href="/">Takaisin</a>
{% endblock %}