<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
    <p style="color:red">{{ message }}</p>
  {% endfor %}
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
  <a href="/">Takaisin</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username }}" maxlength="15" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
  <a href="/">Takaisin</a>
  <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
</body>

</html>