<!DOCTYPE html>
<html>

<head>
  <title>RENTER</title>
</head>

<body>
  <h1>RENTER</h1>

  <p>
    Olet kirjautunut nimellä {{ session.username }}, id numerosi on  {{ session.user_id }} <!-- tähän vielä rating mukaan -->
  </p>
  <p>
    <a href="/new_listing">Uusi ilmoitus</a>
  </p>

  <h2>Omat ilmoitukset</h2>

  <ul>
    {% for listing in listings %}
    <li><a href="/listing/{{ listing.id }}">{{ listing.municipality }} {{ listing.rooms }} h, {{ listing.size }} m², {{ listing.rent }} €</a></li>
    {% endfor %}
  </ul>
  <p>
    <br />
    <a href="/">Takaisin</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
</body>

</html>