<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>

  <h1><a href="/">RENTER</a></h1>
  <h2>Uusi ilmoitus</h2>
  <p>
    Olet kirjautunut nimellä: <a href="/user/{{ session.user_id }}">{{ session.username }}</a> Luokitus & id: {{ session.rating }}, {{ session.user_id}}
  </p>
  <h3>Asunnon tiedot</h3>

  <form action="/create_listing" method="post">
    <p>
      Asuntotyyppi: <br />
      <select name="property_type_id" required>
        <option value="">Valitse</option>
        {% for property_type in property_types %}
        <option value="{{ property_type.id }}">{{ property_type.value }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Huonemäärä: <br />
      <select name="rooms_id" required>
        <option value="">Valitse</option>
        {% for room in rooms %}
        <option value="{{ room.id }}">{{ room.value }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Neliömäärä: <br />
      <input type="text" name="size" size="6" maxlength="10" pattern="^[1-9][0-9]{0,3}(,5)?$" required/> m²
    </p>
    <p>
      Vuokrahinta: <br />
      <input type="text" name="rent" size="6" maxlength="10" pattern="^[1-9][0-9]{0,4}$" required /> €
    </p>
    <p>
      Paikkakunta: <br />
      <select name="municipality_id" required>
        <option value="">Valitse</option>
        {% for municipality in municipalities %}
          <option value="{{ municipality.id }}">{{ municipality.value }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Katuosoite: <br />
      <input type="text" name="address" size="24" maxlength="50" required />
    </p>
    <p>
      Postinumero: <br />
      <input type="text" name="postcode" size="5" maxlength="5" pattern="^[0-9]{5}$" required/>
    </p>
    <p>
      Kerros/kerroksia: <br />
      <input type="text" name="floor" size="3" maxlength="2" pattern="^(-1|[0-9]{1,2})$"/> /
      <input type="text" name="floors" size="3" maxlength="2" pattern="^[1-9][0-9]?$" required/>
    </p>
    <p>
      Kunto: <br />
      <select name="condition_id" required>
        <option value="">Valitse</option>
        {% for condition in conditions %}
          <option value="{{ condition.id }}">{{ condition.value }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Sauna: <input type="checkbox" name="sauna"/><br />
      Parveke: <input type="checkbox" name="balcony"/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="20" cols="50" maxlength="300" required></textarea>
    </p>

    <h3>Taloyhtiön tiedot</h3>

    <p>
      Sauna: <input type="checkbox" name="bath"/><br />
      Hissi: <input type="checkbox" name="elevator"/><br />
      Pyykkitupa: <input type="checkbox" name="laundry"/><br />
      Häkkikellari: <input type="checkbox" name="cellar"/><br />
      Uima-allas: <input type="checkbox" name="pool"/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo ilmoitus" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>