{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
<section class="hero">
  <h2>Luo tunnus uuteen kotiin</h2>

  <h4 class="required"> Pakollinen kenttä</h4>

  <form class="form-stack narrow left" action="/create_account" method="post">

    <label class="required">
      Tunnus
      <input type="text" name="username" required>
    </label>

    <label class="required">
      Salasana
      <input type="password" name="password1" required>
    </label>

    <label class="required">
      Salasana uudestaan
      <input type="password" name="password2" required>
    </label>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <div class="center">
      <button type="submit">Luo tunnus</button>
    </div>

  </form>

</section>

{% endblock %}