{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}
{% block guest_links %}
      <p>
        <a href="/login">Kirjaudu sisään</a>
        <a href="/search_listings">Etsi vuokrakohteita</a>
      </p>
    {% endblock %}

{% block content %}
  <h2>Rekisteröinti</h2>

  <form action="/create_account" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username }}" maxlength="20" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" maxlength="50" required />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" maxlength="50" required/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo tunnus" />
  </form>
  <p>
  <a href="/">Takaisin</a>
  </p>
{% endblock %}