{% extends "layout.html" %}

{% block title %}Ilmoituksen poisto{% endblock %}

{% block content %}
<section class="hero">
  <h3><strong>Haluatko varmasti poistaa tämän ilmoituksen?</strong></h3>
</section>

<section class="center medium grid grid-narrow">

  <div class="card card--link">
    <a href="/listing/{{ listing.id }}">
      <h3>
        <strong>
          {{ listing.address }}, {{ listing.municipality }}<br />
          {{ listing.rooms }} h • {{ listing.size | format_size }} m²<br />
          {{ listing.rent }} € 
        </strong>
      </h3>
      <p><strong>Lisätty {{ listing.created_at|get_date }}</strong></p>
    </a>
  </div>

  <form action="/remove_listing/{{ listing.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <div class="button-row">
      <button type="submit" name="back">Takaisin</button>
      <button type="submit" name="remove" style="background:#bc1c1c;">Poista</button>
    </div>
  </form>
</section>

{% endblock %}