{% extends "layout.html" %}

{% block title %}Ilmoituksen poisto{% endblock %}

{% block content %}
<section class="medium center">
  <h3>Haluatko varmasti poistaa tämän ilmoituksen?</h3>

  <h2>
    {{ listing.municipality }} {{ listing.rooms }} h
    {{ listing.size | format_size }} m²
    {{ listing.rent }} €
  </h2>

  <form class="narrow" action="/remove_listing/{{ listing.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <button type="submit" name="remove" style="background:#bc1c1c;">Poista</button>
    <button type="submit" name="back">Peruuta</button>
  </form>
</section>

{% endblock %}