<!DOCTYPE html>
<html>

<head>
  <title>Etsi vuokrakohteita</title>
</head>

<body>
  <h1>Etsi vuokrakohteita</h1>

  <form action="/search_listings" method="get">
    <p>
      Hakusana: <input type="text" name="query" maxlength="20" value={{ query }}>
    </p>
    <p>
      Ilmoittajan luokitus:
    </p>
    <input type="submit" value="Hae">
  </form>

  {% if query %}
  <h2>Tulokset</h2>

  <ul>
    {% for listing in results %}
    <li>
      <a href="/listing/{{ listing.id }}">
        {{ listing.municipality }} {{ listing.rooms }}h
        {{ listing.size|string|replace(".", ",") }} m²
        {{ listing.rent }} €
      </a>
      <a href="/user/{{ listing.user_id }}">
        Ilmoittaja: {{ listing.username }}
      </a>
    </li>
    {% endfor %}
  </ul>

  {% endif %}

  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>