<!DOCTYPE html>
<html>

<head>
  <title>Etsi vuokrakohteita</title>
</head>

<body>
  <h1><a href="/">RENTER</a></h1>

  {% for message in get_flashed_messages() %}
    <p style="color:green">{{ message }}</p>
  {% endfor %}

  {% if session.username %}
    <p>
      Olet kirjautunut nimellä: <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    <form action="/logout" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <button type="submit">Kirjaudu ulos</button>
    </form>
    </p>
    <p>
      <a href="/new_listing">Uusi ilmoitus</a>
      <a href="/user/{{ session.user_id }}">Omat sivut</a>
    </p>
  {% endif %}


  <h2>Etsi vuokrakohteita</h2>

  <form action="/search_listings" method="get">
  <p>
    Ilmoittaja:
    <input type="text" name="user" value="{{ user }}">
  </p>
  <p>
    Asuntotyyppi:
    <select name="property_type_id">
      <option value="">Kaikki</option>
      {% for property in property_types %}
        <option value="{{ property.id }}" {% if property_type_id == property.id|string %}selected{% endif %}>{{ property.value }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    Paikkakunta:
    <select name="municipality_id">
      <option value="">Kaikki</option>
      {% for municipality in municipalities %}
        <option value="{{ municipality.id }}" {% if municipality_id == municipality.id|string %}selected{% endif %}>{{ municipality.value }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    Neliömäärä:
    <input type="text" name="size" value="{{ size }}">
  </p>
  <p>
    Max vuokra:
    <input type="text" name="max_rent" value ="{{ max_rent}}">
  </p>
  <p>
    Min vuokra:
    <input type="text" name="min_rent" value="{{ min_rent }}">
  </p>
  <p>
    Huonemäärä:
    <select name="rooms_id">
      <option value="">Kaikki</option>
      {% for room in rooms %}
        <option value="{{ room.id }}" {% if rooms_id == room.id|string %}selected{% endif %}>{{ room.value }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    Kunto:
    <select name="condition_id">
      <option value="">Kaikki</option>
      {% for condition in conditions %}
        <option value="{{ condition.id }}" {% if condition_id == condition.id|string %}selected{% endif %}>{{ condition.value }}</option>
      {% endfor %}
    </select>
    </p>
    <input type="submit" value="Hae">
  </form>
  {% if searched %}
    {% if results %}
      <h2>Tulokset</h2>

      <ul>
        {% for listing in results %}
          <li>
            <a href="/listing/{{ listing.id }}">
              {{ listing.municipality }} {{ listing.rooms }}h
              {{ listing.size|float|int if listing.size|float == listing.size|float|int else listing.size|string|replace(".", ",") }} m²
              {{ listing.rent }} €</a>
            <a href="/user/{{ listing.user_id }}">
              Ilmoittaja: {{ listing.username }}</a>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <p>Hakuehdoilla ei löytynyt tuloksia</p>
    {% endif %}
  {% endif %}

  <p>
    <a href="javascript:history.back()">Takaisin</a>
  </p>

</body>

</html>