<!DOCTYPE html>
<html>

<head>
  <title>RENTER</title>
</head>

<body>
  <h1>Käyttäjä {{ user.username }}:  {{ user.id }}</h1>  <!-- rating coming! -->
  {% if session.get(user_id) == user.id %}
  <p>
    <a href="/new_listing">Uusi ilmoitus</a>
  </p>
  {% endif %}
  <h2>
    Käyttäjällä {{ user.username }} on {{ listings|length }}
    {% if listings|length == 1 %}
    ilmoitus:
    {% else %}
    ilmoitusta:
    {% endif %}
  </h2>

  <ul>
    {% for listing in listings %}
    <li><a href="/listing/{{ listing.id }}">{{ listing.municipality }} {{ listing.rooms }} h  {{ listing.size|string|replace(".", ",") }} m²  {{ listing.rent }} €</a></li>
    {% endfor %}
  </ul>
  <p>
    <br />
    <a href="/">Takaisin</a>
    {% if session.username %}
    <br />
    <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
  </p>
</body>

</html>